
.slider{
    width: 82%;
    max-width: 800px;
    height: 35vw;
    max-height: 500px;
    left: 40px;
    margin-bottom: 25px;

    position: relative;
}
.slider img{
    opacity: 0;
    position: absolute;
    transition: opacity 1000ms;

    height: 100%;
    width: 100%;

    object-fit: cover;
}
.slider img.selected{
    opacity: 1;
}